details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/teko-v5-latin-regular.eot');
  src: local('Teko Regular'), local('Teko-Regular'),
    url('fonts/teko-v5-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/teko-v5-latin-regular.woff2') format('woff2'), url('fonts/teko-v5-latin-regular.woff') format('woff'),
    url('fonts/teko-v5-latin-regular.ttf') format('truetype'), url('fonts/teko-v5-latin-regular.svg#Teko') format('svg');
}

@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello.eot?7478814');
  src: url('fonts/fontello.eot?7478814#iefix') format('embedded-opentype'),
    url('fonts/fontello.woff2?7478814') format('woff2'), url('fonts/fontello.woff?7478814') format('woff'),
    url('fonts/fontello.ttf?7478814') format('truetype'), url('fonts/fontello.svg?7478814#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 36px;
  font-size: 3.6rem;
}

h2 {
  font-size: 30px;
  font-size: 3rem;
}

h3 {
  font-size: 24px;
  font-size: 2.4rem;
}

h4 {
  font-size: 18px;
  font-size: 1.8rem;
}

h5 {
  font-size: 14px;
  font-size: 1.4rem;
}

h6 {
  font-size: 12px;
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4 {
  font-family: 'Teko', 'Arial Narrow', Arial, Helvetica, sans-serif !important;
  font-stretch: condensed;
  font-weight: 400;
  letter-spacing: 1px;
}

[class^='fa-']:before,
[class*='fa-']:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-briefcase:before {
  content: '\e800';
}
.fa-user:before {
  content: '\e801';
}
.fa-phone:before {
  content: '\e802';
}
.fa-globe:before {
  content: '\e803';
}
.fa-down-hand:before {
  content: '\e804';
}
.fa-cog-alt:before {
  content: '\e805';
}
.fa-search:before {
  content: '\e806';
}
.fa-up-hand:before {
  content: '\e807';
}
.fa-download:before {
  content: '\e808';
}
.fa-github-circled:before {
  content: '\f09b';
}
.fa-mail-alt:before {
  content: '\f0e0';
}
.fa-linkedin:before {
  content: '\f0e1';
}
.fa-lightbulb:before {
  content: '\f0eb';
}
.fa-code:before {
  content: '\f121';
}
.fa-rocket:before {
  content: '\f135';
}
.fa-file-pdf:before {
  content: '\f1c1';
}
.fa-file-word:before {
  content: '\f1c2';
}
.fa-user-circle-o:before {
  content: '\f2be';
}
.fa-linkedin-squared:before {
  content: '\f30c';
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background: #ecf0f1;
  min-width: 320px;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  overflow-x: hidden;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 10px;
}

ol ol,
ol ul {
  margin-bottom: 0;
}

ul ol,
ul ul {
  margin-bottom: 0;
}

button,
input,
optgroup,
select,
textarea {
  line-height: 1.42857143;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  outline: 0;
  text-decoration: none;
}

a:visited {
  color: #000;
}

.browsehappy {
  margin: 0.2em 0;
  padding: 0.2em 0;
  color: #000;
}

.main {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 60px;
}

div[class^='section--'] {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  float: none;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}

.__container::before,
.gallery::before,
.section--bio-info .bio-details::before,
.section--testimonials .item::before,
.footer .extended::before,
.footer .footer-box::before,
.__container::after,
.gallery::after,
.section--bio-info .bio-details::after,
.section--testimonials .item::after,
.footer .extended::after,
.footer .footer-box::after {
  display: table;
  content: '';
}

.__container::after,
.gallery::after,
.section--bio-info .bio-details::after,
.section--testimonials .item::after,
.footer .extended::after,
.footer .footer-box::after {
  clear: both;
}

.__container {
  margin-right: auto;
  margin-left: auto;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  width: 97%;
  max-width: 1140px;
}

.btn {
  display: inline-block;
  padding: 12px 16px;
  margin-bottom: 0;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border-radius: 6px 6px 6px 6px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.active.focus,
.btn.active:focus,
.btn:active.focus,
.btn:active:focus {
  outline: 5px auto;
  outline-offset: -2px;
}

.btn.focus,
.btn:focus {
  outline: 5px auto;
  outline-offset: -2px;
}

.btn.focus,
.btn:focus,
.btn:hover {
  color: #333;
  text-decoration: none;
}

.hr-style1 {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #b8bac6 50%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #b8bac6 50%, rgba(255, 255, 255, 0) 100%);
}

.hr-style2 {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 25px;
  margin-bottom: 25px;
  border-top: 1px solid #222;
  border-bottom: 1px solid #777;
}

.section--bio-info .bio-details .bio-photo img,
.section--testimonials figure img {
  border-radius: 100% 100% 100% 100%;
  border: 1px solid #eee;
  padding: 3px;
  box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.05);
}

.to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 6px 10px;
  z-index: 5;
  cursor: pointer;
  background-color: #609cec;
  border-radius: 6px 6px 6px 6px;
  opacity: 0.5;
}

@media (min-width: 73.125rem) {
  .to-top {
    opacity: 1;
  }
}

.to-top:hover {
  opacity: 1;
  background-color: #2980b9;
}

.to-top span.to-top-txt {
  font-size: 14px;
  font-size: 1.4rem;
  color: #fff;
}

.to-top span.to-top-txt::before {
  width: 8px;
  height: 8px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  content: ' ';
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-right: 10px;
  display: inline-block;
}

.fixed-panel {
  padding: 35px 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 4;
  display: none;
  position: relative;
}

.panel-close {
  position: absolute;
  top: 20px;
  right: 10px;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 20px;
  font-size: 2rem;
  border-radius: 6px 6px 6px 6px;
  color: #fff;
}

.panel-close:hover {
  color: #000;
}

.panel-close:visited {
  color: #fff;
}

.gallery {
  box-sizing: content-box;
  margin: -1.69492%;
  padding: 1.69492%;
  margin-bottom: 0;
  padding-bottom: 0;
}

.gallery .item {
  margin-bottom: 1.69492%;
  text-align: center;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.lazy {
  display: none;
}

.contact-btn {
  display: none;
}

.social-icons a {
  border-radius: 50px 50px 50px 50px;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
  color: #fff;
}

.social-icons a:last-child {
  margin-right: 0;
}

@media (min-width: 42.5rem) {
  .social-icons a:last-child {
    margin-right: 10px;
  }
}

.social-icons .fa {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 40px;
}

.social-icons [class*='fa-']:before {
  width: 40px;
  height: 40px;
}

.social-icons .email {
  background: #3498db;
}

.social-icons .email:hover {
  background: #2980b9;
}

.social-icons .linkedin {
  background: #729fda;
}

.social-icons .linkedin:hover {
  background: #3069b6;
}

.social-icons .behance,
.social-icons .pinterest,
.social-icons .facebook {
  display: none;
}

.social-icons .behance {
  display: inline-block;
  background: #0057ff;
}

.social-icons .behance:hover {
  background: #003499;
}

.social-icons .facebook {
  display: inline-block;
  background: #3280e7;
}

.social-icons .facebook:hover {
  background: #134fa0;
}

.social-icons .pinterest {
  display: inline-block;
  background: #ed5441;
}

.social-icons .pinterest:hover {
  background: #b72411;
}

.social-icons .github {
  background: #666666;
}

.social-icons .github:hover {
  background: #333333;
}

.contact-panel {
  position: absolute;
  top: 50px;
  background-color: #bbd5f7;
  box-shadow: 0px 10px 15px -5px #b0b0b0;
}

.contact-panel .panel-close {
  background-color: #8eb8f1;
}

.contact-panel h3 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #000;
  text-align: center;
}

.contact-panel .contact-form {
  max-width: none;
  width: 100%;
}

@media (min-width: 42.5rem) {
  .contact-panel .contact-form {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    padding: 10px;
    max-width: 400px;
    margin-bottom: 0;
  }
}

.contact-panel .contact-form input,
.contact-panel .contact-form textarea {
  margin-bottom: 15px;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 4px 4px 4px 4px;
  display: block;
  width: 100%;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.42857;
  background-color: #fff;
  background-image: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  -webkit-transition: border ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

@media (min-width: 42.5rem) {
  .contact-panel .contact-form input,
  .contact-panel .contact-form textarea {
    padding: 10px;
  }
}

.contact-panel .contact-form input[type='text'],
.contact-panel .contact-form input[type='email'],
.contact-panel .contact-form input[type='tel'] {
  height: 40px;
}

@media (min-width: 42.5rem) {
  .contact-panel .contact-form input[type='text'],
  .contact-panel .contact-form input[type='email'],
  .contact-panel .contact-form input[type='tel'] {
    height: 34px;
  }
}

.contact-panel .contact-form textarea {
  height: auto;
}

.contact-panel .contact-form input[type='text']:focus,
.contact-panel .contact-form input[type='email']:focus,
.contact-panel .contact-form input[type='tel']:focus,
.contact-panel .contact-form textarea:focus {
  border: 1px solid #2980b9;
  color: #000;
}

.contact-panel .contact-form .button-group {
  text-align: center;
}

@media (min-width: 42.5rem) {
  .contact-panel .contact-form .button-group {
    text-align: left;
  }
}

.contact-panel .contact-form .button-group button[type='submit'] {
  background-color: #e74c3c;
  color: #fff;
  margin-right: 15px;
}

.contact-panel .contact-form .button-group button[type='reset'] {
  background-color: #fff;
  color: #000;
}

.contact-panel .contact-form #thankyou_message {
  display: none;
}

@media (min-width: 42.5rem) {
  .contact-panel hr {
    display: none;
  }
}

.contact-panel .contact-details {
  padding: 10px;
  text-align: center;
}

@media (min-width: 42.5rem) {
  .contact-panel .contact-details {
    width: 49.15254%;
    float: right;
    margin-right: 0;
  }
}

.contact-panel .contact-details p {
  line-height: 1.5;
  font-weight: 300;
  text-align: center;
}

@media (min-width: 42.5rem) {
  .contact-panel .contact-details p {
    line-height: 3.5;
  }
}

.contact-panel .contact-details p a {
  color: #000;
}

.contact-panel .contact-details .social-container {
  display: inline-block;
  margin-top: 10px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px 5px 5px 5px;
}

.contact-panel .contact-details .social-container .social-icons a:last-child {
  margin-right: 0;
}

.contact-panel #thankyou_message p {
  color: #2c3e50;
  font-size: 20px;
  font-size: 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  min-height: 60px;
  background: #fff;
  box-shadow: 0px 10px 15px -5px #b0b0b0;
}

.header .__container {
  padding-top: 0;
  padding-bottom: 0;
}

.header .logo-block {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
  padding: 9px 0;
  margin-right: 0;
}

.header .logo-block .top-txt-logo {
  font-weight: bold;
  color: #2c3e50;
  position: relative;
}

.header .logo-block .top-txt-logo .short-txt {
  font-size: 30px;
  font-size: 3rem;
}

.header .nav-block {
  width: 83.05085%;
  float: right;
  margin-right: 0;
  text-align: right;
}

.nav-block ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.nav-block ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
}

.nav-block ul li a {
  padding: 19px 9px;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  position: relative;
}

@media (min-width: 23.4375rem) {
  .nav-block ul li a {
    padding: 19px 15px;
  }
}

@media (min-width: 26.5625rem) {
  .nav-block ul li a {
    padding: 19px 20px;
  }
}

.nav-block ul li a span.fa {
  color: #a2a2a2;
}

@media (min-width: 42.5rem) {
  .nav-block ul li a span.fa {
    font-size: 14px;
    font-size: 1.4rem;
  }
}

.nav-block ul li a .fa-caret-down {
  margin-left: 10px;
}

.nav-block ul li a .fa-briefcase,
.nav-block ul li a .fa-user,
.nav-block ul li a .fa-phone {
  display: none;
}

@media (min-width: 42.5rem) {
  .nav-block ul li a .fa-briefcase,
  .nav-block ul li a .fa-user,
  .nav-block ul li a .fa-phone {
    display: inline-block;
    margin-right: 10px;
  }
}

.nav-block ul li:hover {
  background-color: #eee;
}

.nav-block ul li.has-sub-menu {
  position: relative;
}

.nav-block ul li.has-sub-menu ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 58px;
  right: -90px;
  width: 280px;
  text-align: center;
  background: #fff;
  -webkit-transform: translateY(-2em);
  transform: translateY(-2em);
  z-index: -1;
  -webkit-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.nav-block ul li.has-sub-menu ul li {
  display: block;
}

.nav-block ul li.has-sub-menu ul li > a {
  display: block;
  padding: 15px;
}

.nav-block ul li.has-sub-menu:hover ul {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition-delay: 0s, 0s, 0.3s;
  transition-delay: 0s, 0s, 0.3s;
}

.section--main-slider h3 {
  display: none;
}

.accordion-slider {
  margin: 1px auto;
  width: 100%;
  height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  border-radius: 6px 6px 6px 6px;
}

@media (min-width: 42.5rem) {
  .accordion-slider {
    height: 250px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.accordion-slider .accordion__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (min-width: 42.5rem) {
  .accordion-slider .accordion__slide {
    background-size: cover;
  }
}

.accordion-slider .slide1 {
  background-image: url('images/drms_slider1-min.jpg');
}

.accordion-slider .slide2 {
  background-image: url('images/drms_slider2-min.jpg');
}

.accordion-slider .slide3 {
  background-image: url('images/drms_slider3-min.jpg');
}

.accordion-slider .slide4 {
  background-image: url('images/drms_slider4-min.jpg');
}

.accordion-slider .slide5 {
  background-image: url('images/drms_slider5-min.jpg');
}

.accordion-slider .slide6 {
  background-image: url('images/drms_slider6-min.jpg');
}

.accordion-slider .accordion__inner {
  margin: 0;
  padding: 0.5em;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  background: -moz-linear-gradient(transparent 20%, rgba(0, 0, 0, 0.45098) 54%);
  background: -webkit-linear-gradient(transparent 20%, rgba(0, 0, 0, 0.45098) 54%);
  background: linear-gradient(transparent 20%, rgba(0, 0, 0, 0.45098) 54%);
}

.accordion-slider .accordion__inner .title {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 20px;
  color: #fff;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 34.2857px;
  font-family: 'Teko', 'Arial Narrow', Arial, Helvetica, sans-serif !important;
  letter-spacing: 1px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (min-width: 42.5rem) {
  .accordion-slider .accordion__inner .title {
    width: 250px;
    height: 1.5em;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 250px;
    left: 0.5em;
    text-indent: 10px;
    font-size: 30px;
    font-size: 3rem;
    line-height: 42.8571px;
  }
}

.accordion-slider .accordion__inner .details {
  position: absolute;
  left: 20px;
  color: transparent;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.accordion-slider .accordion__slide:hover,
.accordion-slider .accordion__slide:focus {
  -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

@media (min-width: 42.5rem) {
  .accordion-slider .accordion__slide:hover,
  .accordion-slider .accordion__slide:focus {
    -webkit-box-flex: 5;
    -ms-flex: 5;
    flex: 5;
  }
}

.accordion-slider .accordion__slide:hover .title,
.accordion-slider .accordion__slide:focus .title {
  top: 7px;
  left: 20px;
}

@media (min-width: 42.5rem) {
  .accordion-slider .accordion__slide:hover .title,
  .accordion-slider .accordion__slide:focus .title {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: 80px;
    text-indent: initial;
  }
}

.accordion-slider .accordion__slide:hover .details,
.accordion-slider .accordion__slide:focus .details {
  display: block;
  top: 25px;
  max-width: 90%;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 1;
}

@media (min-width: 42.5rem) {
  .accordion-slider .accordion__slide:hover .details,
  .accordion-slider .accordion__slide:focus .details {
    top: 120px;
  }
}

.section--cta-style {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.section--cta-style .__container {
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 6px 6px 6px 6px;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  position: relative;
}

@media (min-width: 42.5rem) {
  .section--cta-style .__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.section--cta-style .__container p {
  margin-top: 10px;
  margin-bottom: 0;
  font-family: 'Teko', 'Arial Narrow', Arial, Helvetica, sans-serif !important;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 34.2857px;
  color: #fff;
  margin-top: 0;
}

.section--cta-style .__container .btn {
  background: #ff9800;
  color: #000;
}

.section--cta-style .__container .btn:hover {
  background: #e74c3c;
  color: #fff;
}

.section--cta-style.cta-top {
  margin-bottom: 40px;
  margin-bottom: 4rem;
}

.cta-top {
  background-image: url('images/cta_top_blur_bg-min.jpg');
}

.cta-top .col1 {
  margin-bottom: 2rem;
}

@media (min-width: 26.5625rem) {
  .cta-top .col1 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 42.5rem) {
  .cta-top .col1 {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
    margin-bottom: 0px;
    margin-bottom: 0rem;
  }
}

@media (min-width: 48rem) {
  .cta-top .col1 {
    width: 40.67797%;
    float: left;
    margin-right: 1.69492%;
  }
}

.cta-top .col2 {
  margin-bottom: 2rem;
}

@media (min-width: 26.5625rem) {
  .cta-top .col2 {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    margin-bottom: 0px;
    margin-bottom: 0rem;
    text-align: right;
  }
}

@media (min-width: 42.5rem) {
  .cta-top .col2 {
    width: 40.67797%;
    float: left;
    margin-right: 1.69492%;
    margin-bottom: 0px;
    margin-bottom: 0rem;
    text-align: right;
  }
}

@media (min-width: 48rem) {
  .cta-top .col2 {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    text-align: right;
  }
}

@media (min-width: 26.5625rem) {
  .cta-top .col3 {
    width: 49.15254%;
    float: right;
    margin-right: 0;
    text-align: left;
  }
}

@media (min-width: 42.5rem) {
  .cta-top .col3 {
    width: 32.20339%;
    float: right;
    margin-right: 0;
    text-align: left;
  }
}

@media (min-width: 48rem) {
  .cta-top .col3 {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
    text-align: left;
  }
}

#about:target {
  padding-top: 100px;
  margin-top: -100px;
}

.section--bio-info .__container {
  padding-top: 35px;
  padding-bottom: 25px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1), inset 0px 0px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: center;
}

@media (min-width: 42.5rem) {
  .section--bio-info .__container {
    text-align: inherit;
  }
}

.section--bio-info .__container .social-icons {
  position: absolute;
  top: -15px;
  right: 0;
  width: 100%;
  text-align: center;
}

@media (min-width: 42.5rem) {
  .section--bio-info .__container .social-icons {
    text-align: right;
  }
}

.section--bio-info .bio-details {
  margin-left: 0px;
  text-align: center;
}

.section--bio-info .bio-details .bio-photo {
  max-width: 200px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 42.5rem) {
  .section--bio-info .bio-details .bio-photo {
    width: 40.67797%;
    float: left;
    margin-right: 1.69492%;
    margin-left: 1%;
  }
}

@media (min-width: 64rem) {
  .section--bio-info .bio-details .bio-photo {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
}

.section--bio-info .bio-details .bio-photo img {
  width: 100%;
}

@media (min-width: 42.5rem) {
  .section--bio-info .bio-details h1 {
    width: 57.62712%;
    float: right;
    margin-right: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-right: 1%;
  }
}

@media (min-width: 64rem) {
  .section--bio-info .bio-details h1 {
    width: 66.10169%;
    float: right;
    margin-right: 0;
    margin-right: 2%;
  }
}

@media (min-width: 42.5rem) {
  .section--bio-info .bio-details .bio-items {
    clear: both;
  }
}

.section--bio-info .bio-details .bio-item {
  margin: 0px auto 10px;
  max-width: 90%;
  text-align: center;
}

.section--bio-info .bio-details .bio-item .title {
  margin-bottom: 0;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 34.2857px;
  font-family: 'Teko', 'Arial Narrow', Arial, Helvetica, sans-serif !important;
  letter-spacing: 1px;
}

@media (min-width: 30rem) {
  .section--bio-info .bio-details .item1,
  .section--bio-info .bio-details .item3,
  .section--bio-info .bio-details .item5 {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
}

@media (min-width: 30rem) {
  .section--bio-info .bio-details .item2,
  .section--bio-info .bio-details .item4,
  .section--bio-info .bio-details .item6 {
    width: 49.15254%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 42.5rem) {
  .section--bio-info .bio-details .item1,
  .section--bio-info .bio-details .item4 {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
}

@media (min-width: 42.5rem) {
  .section--bio-info .bio-details .item2,
  .section--bio-info .bio-details .item5 {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
}

@media (min-width: 42.5rem) {
  .section--bio-info .bio-details .item3,
  .section--bio-info .bio-details .item6 {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
}

.section--bio-info .bio-details .hr-style1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width: 30rem) {
  .section--bio-info .bio-details .hr-style1 {
    display: none;
  }
}

.section--bio-info .txt-row {
  padding: 20px 20px 0;
  -webkit-columns: 3 200px;
  -moz-columns: 3 200px;
  columns: 3 200px;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  -webkit-column-rule: 1px dotted #ddd;
  -moz-column-rule: 1px dotted #ddd;
  column-rule: 1px dotted #ddd;
}

.section--specialities {
  background: #8bc4ea;
}

.section--specialities .__container .col1,
.section--specialities .__container .col2,
.section--specialities .__container .col3,
.section--specialities .__container .col4 {
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  max-width: 400px;
  border: 1px solid #fff;
  border-radius: 6px 6px 6px 6px;
  background: #fff;
  box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.15), 0px 0px 40px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.section--specialities .__container .col1 h2,
.section--specialities .__container .col2 h2,
.section--specialities .__container .col3 h2,
.section--specialities .__container .col4 h2 {
  margin-bottom: 0;
  font-size: 24px;
  font-size: 2.4rem;
}

.section--specialities .__container .col1 .fa,
.section--specialities .__container .col2 .fa,
.section--specialities .__container .col3 .fa,
.section--specialities .__container .col4 .fa {
  font-size: 40px;
  font-size: 4rem;
}

.section--specialities .__container .col1 {
  margin-bottom: 1.69492%;
}

@media (min-width: 26.5625rem) {
  .section--specialities .__container .col1 {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
}

@media (min-width: 42.5rem) {
  .section--specialities .__container .col1 {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
    margin-bottom: 0px;
    margin-bottom: 0rem;
  }
}

.section--specialities .__container .col1 span {
  color: #e74c3c;
}

.section--specialities .__container .col2 {
  margin-bottom: 1.69492%;
}

@media (min-width: 26.5625rem) {
  .section--specialities .__container .col2 {
    width: 49.15254%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 42.5rem) {
  .section--specialities .__container .col2 {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
    margin-bottom: 0px;
    margin-bottom: 0rem;
  }
}

.section--specialities .__container .col2 span {
  color: #4caf50;
}

.section--specialities .__container .col3 {
  margin-bottom: 1.69492%;
}

@media (min-width: 26.5625rem) {
  .section--specialities .__container .col3 {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    margin-top: 0;
    margin-bottom: 0px;
    margin-bottom: 0rem;
  }
}

@media (min-width: 42.5rem) {
  .section--specialities .__container .col3 {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
    margin-bottom: 0px;
    margin-bottom: 0rem;
  }
}

.section--specialities .__container .col3 span {
  color: #2980b9;
}

@media (min-width: 26.5625rem) {
  .section--specialities .__container .col4 {
    width: 49.15254%;
    float: right;
    margin-right: 0;
    margin-top: 0;
  }
}

@media (min-width: 42.5rem) {
  .section--specialities .__container .col4 {
    width: 23.72881%;
    float: right;
    margin-right: 0;
    margin-bottom: 0px;
    margin-bottom: 0rem;
  }
}

.section--specialities .__container .col4 span {
  color: #e91e1e;
}

@media (min-width: 64rem) {
  .section--specialities .__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.section--skills .__container .item1 {
  margin-bottom: 1.69492%;
  background-color: #2980b9;
}

@media (min-width: 26.5625rem) {
  .section--skills .__container .item1 {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
}

@media (min-width: 42.5rem) {
  .section--skills .__container .item1 {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    margin-bottom: 0px;
    margin-bottom: 0rem;
  }
}

.section--skills .__container .item2 {
  margin-bottom: 1.69492%;
  background-color: #e91e1e;
}

@media (min-width: 26.5625rem) {
  .section--skills .__container .item2 {
    width: 49.15254%;
    float: right;
    margin-right: 0;
    margin-bottom: 0px;
    margin-bottom: 0rem;
  }
}

@media (min-width: 42.5rem) {
  .section--skills .__container .item2 {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
}

.section--skills .__container .item3 {
  background-color: #4caf50;
}

@media (min-width: 26.5625rem) {
  .section--skills .__container .item3 {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
}

@media (min-width: 42.5rem) {
  .section--skills .__container .item3 {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
}

.skills-item {
  margin-right: auto;
  margin-left: auto;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1), inset 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.skills-item .skills-heading {
  width: 100%;
  padding: 10px;
  border-radius: 6px 6px 0 0;
}

@media (min-width: 64rem) {
  .skills-item .skills-heading {
    float: left;
    padding: 0;
    width: auto;
    border-radius: 0 0 6px 6px;
  }
}

.skills-item .skills-heading h2 {
  margin: 0;
  font-size: 20px;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
  color: #fff;
  position: relative;
}

@media (min-width: 64rem) {
  .skills-item .skills-heading h2 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

.skills-item .skills-heading h2 span {
  text-align: right;
}

@media (min-width: 64rem) {
  .skills-item .skills-heading h2 span {
    position: absolute;
    right: 17px;
    top: 12px;
    min-width: 200px;
  }
}

.skills-item .skills-content {
  padding: 10px;
  width: 100%;
  margin-left: 0;
  border-radius: 0 0 6px 6px;
  background: #fff;
}

@media (min-width: 64rem) {
  .skills-item .skills-content {
    margin-left: 42px;
    border-radius: 0 6px 6px 0;
    width: auto;
  }
}

.skills-item .skills-content h3 {
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 1.5;
  font-weight: 400;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 5px;
  border-bottom: solid 1px #eee;
}

.skills-accordion {
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  outline: none;
  max-width: 560px;
  margin-bottom: 0;
}

.skills-accordion li {
  list-style: none;
  border-bottom: 1px solid #eee;
  position: relative;
}

.skills-accordion li h4 {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0;
}

.skills-accordion li .skill-category-content {
  padding: 10px 5px;
}

.skills-accordion li:last-child {
  border-bottom: none;
}

.skills-accordion li .skill-progress {
  padding: 0 5px;
}

.skills-accordion li p {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.5;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
}

.skills-accordion li p:before {
  content: none;
}

.skills-accordion li a {
  width: 100%;
  display: block;
  cursor: pointer;
  text-indent: 10px;
  padding-top: 14px;
  padding-bottom: 10px;
}

.skills-accordion li a.needPsuedo:after {
  position: absolute;
  right: 10px;
  top: 20px;
  width: 8px;
  height: 8px;
  border-right: 1px solid #555;
  border-bottom: 1px solid #555;
  content: ' ';
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.skills-accordion li a.needPsuedo.active:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.section--portfolio .web-gallery .item,
.section--portfolio .print-gallery .item {
  border-radius: 6px 6px 6px 6px;
  width: 49.15254%;
  float: left;
}

.section--portfolio .web-gallery .item:nth-child(2n + 1),
.section--portfolio .print-gallery .item:nth-child(2n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}

.section--portfolio .web-gallery .item:nth-child(2n + 2),
.section--portfolio .print-gallery .item:nth-child(2n + 2) {
  margin-left: 50.84746%;
  margin-right: -100%;
  clear: none;
}

@media (min-width: 30rem) {
  .section--portfolio .web-gallery .item,
  .section--portfolio .print-gallery .item {
    width: 32.20339%;
    float: left;
  }

  .section--portfolio .web-gallery .item:nth-child(3n + 1),
  .section--portfolio .print-gallery .item:nth-child(3n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }

  .section--portfolio .web-gallery .item:nth-child(3n + 2),
  .section--portfolio .print-gallery .item:nth-child(3n + 2) {
    margin-left: 33.89831%;
    margin-right: -100%;
    clear: none;
  }

  .section--portfolio .web-gallery .item:nth-child(3n + 3),
  .section--portfolio .print-gallery .item:nth-child(3n + 3) {
    margin-left: 67.79661%;
    margin-right: -100%;
    clear: none;
  }
}

@media (min-width: 42.5rem) {
  .section--portfolio .web-gallery .item,
  .section--portfolio .print-gallery .item {
    width: 23.72881%;
    float: left;
  }

  .section--portfolio .web-gallery .item:nth-child(4n + 1),
  .section--portfolio .print-gallery .item:nth-child(4n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }

  .section--portfolio .web-gallery .item:nth-child(4n + 2),
  .section--portfolio .print-gallery .item:nth-child(4n + 2) {
    margin-left: 25.42373%;
    margin-right: -100%;
    clear: none;
  }

  .section--portfolio .web-gallery .item:nth-child(4n + 3),
  .section--portfolio .print-gallery .item:nth-child(4n + 3) {
    margin-left: 50.84746%;
    margin-right: -100%;
    clear: none;
  }

  .section--portfolio .web-gallery .item:nth-child(4n + 4),
  .section--portfolio .print-gallery .item:nth-child(4n + 4) {
    margin-left: 76.27119%;
    margin-right: -100%;
    clear: none;
  }
}

@media (min-width: 64rem) {
  .section--portfolio .web-gallery .item,
  .section--portfolio .print-gallery .item {
    width: 15.25424%;
    float: left;
  }

  .section--portfolio .web-gallery .item:nth-child(6n + 1),
  .section--portfolio .print-gallery .item:nth-child(6n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }

  .section--portfolio .web-gallery .item:nth-child(6n + 2),
  .section--portfolio .print-gallery .item:nth-child(6n + 2) {
    margin-left: 16.94915%;
    margin-right: -100%;
    clear: none;
  }

  .section--portfolio .web-gallery .item:nth-child(6n + 3),
  .section--portfolio .print-gallery .item:nth-child(6n + 3) {
    margin-left: 33.89831%;
    margin-right: -100%;
    clear: none;
  }

  .section--portfolio .web-gallery .item:nth-child(6n + 4),
  .section--portfolio .print-gallery .item:nth-child(6n + 4) {
    margin-left: 50.84746%;
    margin-right: -100%;
    clear: none;
  }

  .section--portfolio .web-gallery .item:nth-child(6n + 5),
  .section--portfolio .print-gallery .item:nth-child(6n + 5) {
    margin-left: 67.79661%;
    margin-right: -100%;
    clear: none;
  }

  .section--portfolio .web-gallery .item:nth-child(6n + 6),
  .section--portfolio .print-gallery .item:nth-child(6n + 6) {
    margin-left: 84.74576%;
    margin-right: -100%;
    clear: none;
  }
}

.section--portfolio .web-gallery .item:empty,
.section--portfolio .print-gallery .item:empty {
  height: 0;
}

.section--portfolio .web-gallery .item:hover,
.section--portfolio .print-gallery .item:hover {
  box-shadow: 1px 0 45px rgba(0, 0, 0, 0.2);
}

.section--portfolio .web-gallery .item img,
.section--portfolio .print-gallery .item img {
  border-radius: 6px 6px 6px 6px;
  width: 125px;
  height: 125px;
}

@media (min-width: 30rem) {
  .section--portfolio .web-gallery .item img,
  .section--portfolio .print-gallery .item img {
    width: 150px;
    height: 150px;
  }
}

.section--portfolio #webGallery:target,
.section--portfolio #printGallery:target {
  padding-top: 100px;
  margin-top: -100px;
}

.section--portfolio .item a {
  position: relative;
  display: block;
}

.section--portfolio .item a span.fa {
  position: absolute;
  top: 62px;
  left: 62px;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #2980b9;
  font-size: 40px;
  font-size: 4rem;
  z-index: 2;
  opacity: 0;
}

.section--portfolio .item a span.mask {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #eee;
  border-radius: 6px 6px 6px 6px;
  z-index: 1;
  opacity: 0;
}

.section--portfolio .item a:hover span.fa {
  opacity: 1;
}

.section--portfolio .item a:hover span.mask {
  opacity: 0.5;
}

.section--portfolio .item a:hover img {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

a.fancybox-nav {
  z-index: 4;
}

a.fancybox-next {
  right: -38px;
}

a.fancybox-prev {
  left: -38px;
}

.cta-bottom {
  background-image: url('images/cta_bottom_blur_bg-min.jpg');
}

.cta-bottom .col1 {
  margin-bottom: 2rem;
}

@media (min-width: 26.5625rem) {
  .cta-bottom .col1 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 42.5rem) {
  .cta-bottom .col1 {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    margin-bottom: 0;
  }
}

@media (min-width: 48rem) {
  .cta-bottom .col1 {
    width: 40.67797%;
    float: left;
    margin-right: 1.69492%;
  }
}

@media (min-width: 64rem) {
  .cta-bottom .col1 {
    width: 57.62712%;
    float: left;
    margin-right: 1.69492%;
  }
}

.cta-bottom .col2 {
  margin-bottom: 2rem;
}

@media (min-width: 26.5625rem) {
  .cta-bottom .col2 {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    text-align: right;
    margin-bottom: 0;
  }
}

@media (min-width: 42.5rem) {
  .cta-bottom .col2 {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    margin-bottom: 0;
    text-align: right;
  }
}

@media (min-width: 48rem) {
  .cta-bottom .col2 {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
    text-align: right;
  }
}

@media (min-width: 64rem) {
  .cta-bottom .col2 {
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%;
    text-align: right;
  }
}

.cta-bottom .col3 {
  position: relative;
  text-align: center;
}

@media (min-width: 26.5625rem) {
  .cta-bottom .col3 {
    width: 49.15254%;
    float: right;
    margin-right: 0;
    text-align: left;
  }
}

@media (min-width: 42.5rem) {
  .cta-bottom .col3 {
    width: 32.20339%;
    float: right;
    margin-right: 0;
    text-align: left;
  }
}

@media (min-width: 48rem) {
  .cta-bottom .col3 {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    text-align: left;
  }
}

@media (min-width: 64rem) {
  .cta-bottom .col3 {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
    text-align: left;
  }
}

.cta-bottom .contact-btn {
  display: none;
}

.cta-bottom .download-files-container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 55px;
  left: calc(50% - 90px);
  z-index: 2;
  min-width: 180px;
}

.cta-bottom .download-files-container:after {
  content: ' ';
  display: block;
  clear: both;
}

@media (min-width: 48rem) {
  .cta-bottom .download-files-container {
    left: -10px;
  }
}

.cta-bottom .download-files-container .col4 {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
}

.cta-bottom .download-files-container .col4 span.format-name {
  background-color: #f75353;
}

.cta-bottom .download-files-container .col5 {
  width: 49.15254%;
  float: right;
  margin-right: 0;
}

.cta-bottom .download-files-container .col5 span.format-name {
  background-color: #2980b9;
}

.cta-bottom .download-files-container .download-item {
  padding: 10px 5px;
  max-width: 75px;
  display: block;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.7);
  text-align: center;
  position: relative;
  background: rgba(255, 255, 255, 0.9);
}

.cta-bottom .download-files-container .download-item:before {
  bottom: 100%;
  left: 27px;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  border-width: 10px;
  border-bottom-color: rgba(255, 255, 255, 0.9);
}

.cta-bottom .download-files-container .download-item span.fa {
  margin-left: -25px;
  font-size: 30px;
  font-size: 3rem;
  position: relative;
  color: #555;
}

.cta-bottom .download-files-container .download-item span.format-name {
  display: block;
  position: absolute;
  padding: 0 5px;
  border-radius: 2px 2px 2px 2px;
  color: #fff;
  top: 20px;
  left: 32px;
  font-weight: 600;
  font-size: 10px;
  font-size: 1rem;
  line-height: 1.5;
  text-transform: uppercase;
}

.section--testimonials .__container {
  position: relative;
}

.section--testimonials .__container h3 span.fa {
  font-size: 18px;
  font-size: 1.8rem;
}

.section--testimonials .__container h3 span.separator {
  display: none;
  opacity: 0;
}

@media (min-width: 26.5625rem) {
  .section--testimonials .__container h3 span.separator {
    opacity: 1;
    margin-left: 20px;
    margin-right: 20px;
    color: #777;
  }
}

.section--testimonials .__container h3 .btn--exp-col {
  display: none;
  font-size: 14px;
  font-size: 1.4rem;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: normal;
  text-decoration: underline;
  color: #2980b9;
}

.section--testimonials .__container h3 .btn--exp-col:hover {
  color: #f75353;
}

.section--testimonials .__container h3 .btn--exp-col:visited {
  color: #2980b9;
}

.section--testimonials .items-block {
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.section--testimonials .item {
  padding: 5px;
  border-radius: 6px 6px 6px 6px;
  background: #fff;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: auto;
}

.section--testimonials figure {
  margin: 5px;
}

.section--testimonials figure img {
  margin: 0 auto 15px;
}

@media (min-width: 42.5rem) {
  .section--testimonials figure img {
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%;
    margin: auto;
  }
}

@media (min-width: 42.5rem) {
  .section--testimonials figure figcaption {
    width: 83.05085%;
    float: right;
    margin-right: 0;
  }
}

.section--testimonials figure figcaption blockquote {
  margin-left: 10px;
  margin-right: 10px;
}

.section--testimonials figure figcaption p {
  margin-top: 0;
  margin-bottom: 5px;
}

.section--testimonials figure span.fa {
  font-size: 20px;
  font-size: 2rem;
  color: #555;
}

.section--testimonials .flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 6px 6px 6px 6px;
  background-color: #609cec;
  opacity: 0.5;
}

.section--testimonials .flickity-prev-next-button:hover {
  opacity: 1;
  background-color: #2980b9;
}

.section--testimonials .flickity-prev-next-button .arrow {
  fill: #fff;
}

.section--testimonials .flickity-prev-next-button.no-svg {
  color: #fff;
}

.section--testimonials .flickity-prev-next-button.previous {
  left: 0;
}

.section--testimonials .flickity-prev-next-button.next {
  right: 0;
}

.section--testimonials .flickity-page-dots {
  display: none;
}

@media (min-width: 42.5rem) {
  .section--testimonials .flickity-page-dots {
    display: block;
  }
}

.section--testimonials .lzy {
  display: none;
}

.footer {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background-color: #555;
  color: #fff;
}

.footer .__container {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.footer .extended {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.footer .beta-txt {
  text-align: center;
  color: #fcd419;
}

.footer .beta-txt a {
  margin: 0 5px;
  padding: 0 5px;
  background-color: #fff;
  font-weight: bold;
}

.footer .tech-box .item {
  box-shadow: none;
  width: 32.20339%;
  float: left;
}

.footer .tech-box .item:nth-child(3n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}

.footer .tech-box .item:nth-child(3n + 2) {
  margin-left: 33.89831%;
  margin-right: -100%;
  clear: none;
}

.footer .tech-box .item:nth-child(3n + 3) {
  margin-left: 67.79661%;
  margin-right: -100%;
  clear: none;
}

@media (min-width: 42.5rem) {
  .footer .tech-box .item {
    width: 23.72881%;
    float: left;
  }

  .footer .tech-box .item:nth-child(4n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }

  .footer .tech-box .item:nth-child(4n + 2) {
    margin-left: 25.42373%;
    margin-right: -100%;
    clear: none;
  }

  .footer .tech-box .item:nth-child(4n + 3) {
    margin-left: 50.84746%;
    margin-right: -100%;
    clear: none;
  }

  .footer .tech-box .item:nth-child(4n + 4) {
    margin-left: 76.27119%;
    margin-right: -100%;
    clear: none;
  }
}

@media (min-width: 64rem) {
  .footer .tech-box .item {
    width: 15.25424%;
    float: left;
  }

  .footer .tech-box .item:nth-child(6n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }

  .footer .tech-box .item:nth-child(6n + 2) {
    margin-left: 16.94915%;
    margin-right: -100%;
    clear: none;
  }

  .footer .tech-box .item:nth-child(6n + 3) {
    margin-left: 33.89831%;
    margin-right: -100%;
    clear: none;
  }

  .footer .tech-box .item:nth-child(6n + 4) {
    margin-left: 50.84746%;
    margin-right: -100%;
    clear: none;
  }

  .footer .tech-box .item:nth-child(6n + 5) {
    margin-left: 67.79661%;
    margin-right: -100%;
    clear: none;
  }

  .footer .tech-box .item:nth-child(6n + 6) {
    margin-left: 84.74576%;
    margin-right: -100%;
    clear: none;
  }
}

.footer .footer-box .copyright {
  text-align: center;
}

@media (min-width: 30rem) {
  .footer .footer-box .copyright {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
}

.footer .footer-box .interaction {
  text-align: center;
}

@media (min-width: 30rem) {
  .footer .footer-box .interaction {
    width: 49.15254%;
    float: right;
    margin-right: 0;
  }
}

.footer .footer-box .btn {
  display: none;
  background: #609cec;
  color: #fff;
}

.footer .footer-box .btn:hover {
  background: #2980b9;
}

.footer .footer-box span {
  display: block;
}

@media (min-width: 42.5rem) {
  .footer .footer-box span {
    display: inline;
  }
}

@media print {
  @page {
    size: A4;
    margin: 3mm 3mm 0mm 20mm;
  }

  #BrowserPrintDefaults {
    display: none;
  }

  * {
    box-shadow: none !important;
    text-shadow: none !important;
    -webkit-transition: none !important;
    transition: none !important;
    background: transparent !important;
    color: #000 !important;
    border-radius: 0 !important;
  }

  html {
    width: 210mm;
  }

  body {
    margin-top: 0;
    margin-bottom: 5mm;
    padding: 0 !important;
    max-width: 185mm;
    background: none;
  }

  img {
    page-break-inside: avoid;
  }

  body > *:not(main) {
    display: none;
  }

  div[class^='section--'],
  .__container {
    margin: auto;
    padding: inherit;
  }

  .__container {
    padding-top: 0mm !important;
    padding-bottom: 0mm !important;
    width: 100%;
    max-width: none;
  }

  .main {
    margin-top: 0;
    float: none;
  }

  .intro-block,
  .section--main-slider,
  .section--bio-info {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .section--main-slider h3 {
    display: block;
  }

  .accordion-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
    height: auto;
  }

  .accordion-slider .accordion__slide {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 50% !important;
    flex: 1 50% !important;
    background: none;
    overflow: visible;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
  }

  .accordion-slider .accordion__slide:hover .title {
    top: auto;
    left: auto;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .accordion-slider .accordion__slide:hover .details {
    max-width: none;
  }

  .accordion-slider .accordion__inner .title {
    position: static;
    width: auto;
    height: auto;
    text-indent: inherit;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 1.5;
    font-weight: 400;
  }

  .accordion-slider .accordion__inner .details {
    position: static;
    opacity: 1;
  }

  .section--cta-style {
    display: none;
  }

  .section--bio-info .__container {
    border: none;
  }

  .section--bio-info .social-icons {
    display: none;
  }

  .section--bio-info .bio-photo {
    margin-right: 1.69492%;
    margin-left: 1%;
    width: 40.67797%;
    float: left;
  }

  .section--bio-info img {
    width: 100px !important;
    height: 100px !important;
  }

  .section--bio-info h1 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    width: 57.62712%;
    float: right;
  }

  .section--bio-info .bio-details::before,
  .section--bio-info .bio-details::after,
  .section--bio-info .bio-items::before,
  .section--bio-info .bio-items::after {
    display: table;
    content: '';
  }

  .section--bio-info .bio-details::after,
  .section--bio-info .bio-items::after {
    clear: both;
  }

  .section--bio-info .bio-details .bio-items {
    padding-top: 20px;
    clear: both;
  }

  .section--bio-info .bio-details .bio-item {
    margin: 0;
    max-width: none;
  }

  .section--bio-info .bio-details .item1,
  .section--bio-info .bio-details .item4 {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }

  .section--bio-info .bio-details .item2,
  .section--bio-info .bio-details .item5 {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }

  .section--bio-info .bio-details .item3,
  .section--bio-info .bio-details .item6 {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }

  .section--bio-info .txt-row {
    padding: 0 !important;
    -webkit-columns: initial;
    -moz-columns: initial;
    columns: initial;
    text-align: left;
  }

  .section--specialities {
    display: none;
  }

  .section--skills,
  .section--portfolio,
  .section--testimonials {
    page-break-before: always;
  }

  .section--skills .skills-item {
    margin-right: 1.69492%;
    width: 48.15254%;
    float: left;
  }

  .section--skills .skills-heading {
    display: none;
  }

  .section--skills .skills-content {
    margin-left: 0;
  }

  .section--skills .skills-content h3 {
    border: none;
  }

  .section--skills .skills-accordion {
    max-width: none;
  }

  .section--skills .skills-accordion li {
    margin-bottom: 0;
    border: none;
  }

  .section--skills .skills-accordion a {
    text-indent: 0;
  }

  .section--skills .skills-accordion a::after {
    display: none;
  }

  .section--skills .skills-accordion h4 {
    text-indent: 0;
  }

  .section--skills .skills-accordion .skill-category-content {
    display: block !important;
  }

  .section--portfolio h3 {
    page-break-after: avoid !important;
  }

  .section--portfolio .item {
    margin-bottom: 1.69492% !important;
    width: 23.72881% !important;
    float: left !important;
    text-align: center !important;
  }

  .section--portfolio .item:nth-child(4n + 1) {
    margin-left: 0 !important;
    margin-right: -100% !important;
    clear: both !important;
  }

  .section--portfolio .item:nth-child(4n + 2) {
    margin-left: 25.42373% !important;
    margin-right: -100% !important;
    clear: none !important;
  }

  .section--portfolio .item:nth-child(4n + 3) {
    margin-left: 50.84746% !important;
    margin-right: -100% !important;
    clear: none !important;
  }

  .section--portfolio .item:nth-child(4n + 4) {
    margin-left: 76.27119% !important;
    margin-right: -100% !important;
    clear: none !important;
  }

  .section--portfolio .item .lazy,
  .section--portfolio .item span.fa,
  .section--portfolio .item span.mask {
    display: none;
  }

  .section--portfolio .item a:hover img {
    -webkit-filter: none;
    filter: none;
  }

  .section--testimonials .linkedin-txt,
  .section--testimonials .separator,
  .section--testimonials .btn--exp-col,
  .section--testimonials .flickity-prev-next-button,
  .section--testimonials .flickity-page-dots {
    display: none !important;
  }

  .section--testimonials .item {
    margin-bottom: 0.5cm;
  }

  .section--testimonials figure img {
    width: 15.25424%;
    float: left;
    margin: auto;
    margin-right: 1.69492%;
  }

  .section--testimonials figure figcaption {
    width: 83.05085%;
    float: right;
    margin-right: 0;
  }

  .to-top {
    display: none !important;
  }
}
