@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --backdrop: 0 0% 60%;
    --border-width: 1;
    --backup-border: hsl(var(--backdrop)) / 12;
    --size: 200;
    --background: 198.46 86.67% 97.06%;
    --foreground: 234 20% 19%;
    --card: 227 29% 94%;
    --card-foreground: 234 20% 19%;
    --popover: 198.46 86.67% 97.06%;
    --popover-foreground: 234 20% 19%;
    --primary: 223 70% 67%;
    --primary-foreground: 0 0% 100%;
    --secondary: 221 38% 77%;
    --secondary-foreground: 0 0% 100%;
    --muted: 221 38% 77%;
    --muted-foreground: 0 0% 70%;
    --accent: 227 45% 43%;
    --accent-foreground: 0 0% 100%;
    --accent2: 224 34% 65%;
    --accent2-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 221 38% 77%;
    --input: 221 38% 77%;
    --ring: 223 70% 67%;
    --radius: 0.5rem;
    --heading: 216 85% 8%;
    --shadow1: 221.03 100% 50.39%;
  }

  :root[class~='dark'] {
    --backdrop: 0 0% 60%;
    --border-width: 1;
    --backup-border: hsl(var(--backdrop)) / 12;
    --size: 200;
    --background: 216 85% 8%;
    --foreground: 225 20.2% 61.18%;
    --card: 218.3 58.02% 15.88%;
    --card-foreground: 0 0% 100%;
    --popover: 225 39% 12%;
    --popover-foreground: 0 0% 100%;
    --primary: 223 70% 67%;
    --primary-foreground: 222.5 100% 7.16%;
    --secondary: 221 38% 77%;
    --secondary-foreground: 0 0% 100%;
    --muted: 221 38% 77%;
    --muted-foreground: 0 0% 50%;
    --accent: 172.46 66.01% 50.39%;
    --accent-foreground: 0 0% 0%;
    --accent2: 224 34% 65%;
    --accent2-foreground: 0 0% 100%;
    --destructive: 0 65% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 221 43% 28%;
    --input: 221 38% 77%;
    --ring: 223 70% 67%;
    --radius: 0.5rem;
    --heading: 225.71 70% 88.24%;
    --shadow1: 221.03 100% 50.39%;
    --swiper-navigation-color: #2dd4bf;
    --swiper-pagination-color: #2dd4bf;
    --swiper-pagination-bullet-inactive-color: #ccc;
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--foreground)) hsl(var(--background));
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
  }

  *::-webkit-scrollbar-track {
    background: hsl(var(--background));
    border-radius: 5px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: hsl(var(--foreground));
    border-radius: 14px;
    border: 3px solid hsl(var(--background));
  }

  ::-moz-selection {
    color: hsl(var(--background));
    background: hsl(var(--accent));
  }

  ::selection {
    color: hsl(var(--background));
    background: hsl(var(--accent));
  }
}

@layer components {
  .section-gradient-bg1 {
    @apply bg-white/30 bg-[radial-gradient(at_47%_33%,hsl(226.67,45%,43%)_0,transparent_59%),radial-gradient(at_82%_65%,hsl(168.39,53%,89%)_0,transparent_55%)] dark:bg-[#031126]/30 dark:bg-[radial-gradient(at_47%_33%,hsl(172.46,66%,20%)_0,transparent_59%),radial-gradient(at_82%_65%,hsl(218.3,57.99999999999999%,16%)_0,transparent_55%)];
  }

  .block-glass1 {
    @apply bg-white/30 backdrop-blur-3xl backdrop-saturate-[150%] dark:bg-[#031126]/30;
  }

  .section-glass-bg1 {
    @apply absolute inset-x-0 top-0 -z-10 size-full bg-[url('/images/bg-images/section-bg--light.jpg')] bg-cover bg-top bg-repeat dark:bg-background dark:bg-[url('/images/bg-images/section-bg--dark.jpg')] xl:top-8;
  }

  .block-glass2 {
    @apply bg-blue-200/20 bg-clip-padding backdrop-blur-3xl dark:bg-blue-200/10;
  }

  .block-glass-accent {
    @apply bg-accent/30 bg-clip-padding backdrop-blur-3xl;
  }
}

/* Glow specific styles */
@media (min-width: 769px) {
  [data-glow] {
    --border-size: calc(var(--border-width, 2) * 1px);
    --spotlight-size: calc(var(--size, 150) * 1px);
    --hue: calc(var(--base) + (var(--xp, 0) * var(--spread, 0)));
    background-image: radial-gradient(
      var(--spotlight-size) var(--spotlight-size) at calc(var(--x, 0) * 1px)
        calc(var(--y, 0) * 1px),
      hsl(
        var(--hue, 210) calc(var(--saturation, 100) * 1%)
          calc(var(--lightness, 30) * 1%) / var(--bg-spot-opacity, 0.1)
      ),
      transparent
    );
    background-color: hsl(var(--backdrop), transparent);
    background-size: calc(100% + (2 * var(--border-size)))
      calc(100% + (2 * var(--border-size)));
    background-position: 50% 50%;
    background-attachment: fixed;
    border: var(--border-size) solid var(--backup-border);
    position: relative;
    touch-action: none;
  }

  [data-glow]::before,
  [data-glow]::after {
    pointer-events: none;
    content: '';
    position: absolute;
    inset: calc(var(--border-size) * -1);
    border: var(--border-size) solid transparent;
    border-radius: calc(var(--radius) + 4px);
    background-attachment: fixed;
    background-size: calc(100% + (2 * var(--border-size)))
      calc(100% + (2 * var(--border-size)));
    background-repeat: no-repeat;
    background-position: 50% 50%;
    mask: linear-gradient(transparent, transparent),
      linear-gradient(white, white);
    mask-clip: padding-box, border-box;
    mask-composite: intersect;
  }

  /* This is the emphasis light */
  [data-glow]::before {
    background-image: radial-gradient(
      calc(var(--spotlight-size) * 0.75) calc(var(--spotlight-size) * 0.75) at
        calc(var(--x, 0) * 1px) calc(var(--y, 0) * 1px),
      hsl(
        var(--hue, 210) calc(var(--saturation, 100) * 1%)
          calc(var(--lightness, 50) * 1%) / var(--border-spot-opacity, 1)
      ),
      transparent 100%
    );
    filter: brightness(2);
  }
  /* This is the spotlight */
  [data-glow]::after {
    background-image: radial-gradient(
      calc(var(--spotlight-size) * 0.5) calc(var(--spotlight-size) * 0.5) at
        calc(var(--x, 0) * 1px) calc(var(--y, 0) * 1px),
      hsl(0 100% 100% / var(--border-light-opacity, 1)),
      transparent 100%
    );
  }
  [data-glow] [data-glow] {
    position: absolute;
    inset: 0;
    will-change: filter;
    opacity: var(--outer, 1);
  }
  [data-glow] > [data-glow] {
    border-radius: calc(var(--radius) + 4px);
    border-width: calc(var(--border-size) * 20);
    filter: blur(calc(var(--border-size) * 10));
    background: none;
    pointer-events: none;
  }
  [data-glow] > [data-glow]::before {
    inset: -10px;
    border-width: 10px;
  }
  [data-glow] [data-glow] {
    border: none;
  }
  [data-glow] :is(a, button) {
    border-radius: calc(var(--radius) + 4px);
    border: var(--border-size) solid transparent;
  }
  [data-glow] :is(a, button) [data-glow] {
    background: none;
  }
  [data-glow] :is(a, button) [data-glow]::before {
    inset: calc(var(--border-size) * -1);
    border-width: calc(var(--border-size) * 1);
  }
}
