@tailwind base;
@tailwind components;
@tailwind utilities;

/* --background: #ede8f5;
--foreground: #27293b;
--primary: #7091e6;
--primary-foreground: #ffffff;
--secondary: #adbbda;
--secondary-foreground: #ffffff;
--accent: #3d52a0;
--accent-foreground: #ffffff;
--accent2: #8697c4;
--accent2-foreground: #ffffff; */

/* Above in HSL colours */
/* --background: hsl(263, 39%, 94%);
--foreground: hsl(234, 20%, 19%);
--primary: hsl(223, 70%, 67%);
--primary-foreground: hsl(0, 0%, 100%);
--secondary: hsl(221, 38%, 77%);
--secondary-foreground: hsl(0, 0%, 100%);
--accent: hsl(227, 45%, 43%);
--accent-foreground: hsl(0, 0%, 100%);
--accent2: hsl(224, 34%, 65%);
--accent2-foreground: hsl(0, 0%, 100%); */

@layer base {
  :root {
    --bg-gradient-stops: #d6ecec, #d7ecef, #d9ecf1, #dbecf3, #deecf5, #daeaf6,
      #d7e8f7, #d4e6f8, #c9e1fa, #bfddfb, #b5d8fd, #aad3ff;
    --background: 263 39% 94%;
    --foreground: 234 20% 19%;
    --card: 227 29% 94%;
    --card-foreground: 234 20% 19%;
    --popover: 263 39% 94%;
    --popover-foreground: 234 20% 19%;
    --primary: 223 70% 67%;
    --primary-foreground: 0 0% 100%;
    --secondary: 221 38% 77%;
    --secondary-foreground: 0 0% 100%;
    --muted: 221 38% 77%;
    --muted-foreground: 0 0% 70%;
    --accent: 227 45% 43%;
    --accent-foreground: 0 0% 100%;
    --accent2: 224 34% 65%;
    --accent2-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 221 38% 77%;
    --input: 221 38% 77%;
    --ring: 223 70% 67%;
    --radius: 0.5rem;
  }

  :root[class~='dark'] {
    --bg-gradient-stops: #1f0e4a, #190e44, #140d3d, #100b37, #0e0730, #0d072f,
      #0b082d, #0a082c, #080c30, #061034, #031239, #00153d;
    --background: 222.5 100% 7.16%;
    --foreground: 0 0% 100%;
    --card: 225 39% 12%;
    --card-foreground: 0 0% 100%;
    --popover: 225 39% 12%;
    --popover-foreground: 0 0% 100%;
    --primary: 223 70% 67%;
    --primary-foreground: 222.5 100% 7.16%;
    --secondary: 221 38% 77%;
    --secondary-foreground: 0 0% 100%;
    --muted: 221 38% 77%;
    --muted-foreground: 0 0% 50%;
    --accent: 227 45% 43%;
    --accent-foreground: 0 0% 100%;
    --accent2: 224 34% 65%;
    --accent2-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 221 43% 28%;
    --input: 221 38% 77%;
    --ring: 223 70% 67%;
    --radius: 0.5rem;
    --swiper-pagination-bullet-inactive-color: #ccc;
  }
}

.swiper-pagination-bullet {
  background: var(--swiper-pagination-bullet-inactive-color);
}
