meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(content='width=device-width, initial-scale=1.0', name='viewport')
title #{pageTitle}Shanthosh Krishnakumar | Creative Front End Web Developer Auckland
meta(name='description', content=`${pageDescription}`)
meta(name='keywords', content=`${pageKeywords}`)
meta(itemprop='name', content='Shanthosh Krishnakumar')
meta(itemprop='description', content=`${pageDescription}`)
link(itemprop='image', href='http://www.drmsweb.com/images/ShanthoshK_profile3_400x400-min.jpg')
meta(property='og:type', content='website')
meta(property='og:title', content='Shanthosh Krishnakumar | Creative Front End Web Developer Auckland')
meta(property='og:url', content='http://www.drmsweb.com/')
meta(property='og:description', content=`${pageDescription}`)
meta(property='og:image', content='http://www.drmsweb.com/images/ShanthoshK_profile3_400x400-min.jpg')
meta(property='og:image:type', content='image/jpg')
meta(property='og:image:width' content='200')
meta(property='og:image:height' content='200')
meta(name='copyright', content='(c) 2016-2017 Shanthosh Krishnakumar')
meta(name='mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-status-bar-style', content='black')
meta(name='apple-mobile-web-app-title', content='Shanthosh Krishnakumar')
link(rel='icon', sizes='192x192', href='/app/images/devices/android-touch-icon-192x192.png')
link(rel='apple-touch-icon-precomposed', sizes='180x180', href='/app/images/devices/apple-touch-icon-180x180-precomposed.png')
link(rel='apple-touch-icon-precomposed', sizes='152x152', href='/app/images/devices/apple-touch-icon-152x152-precomposed.png')
link(rel='apple-touch-icon-precomposed', sizes='120x120', href='/app/images/devices/apple-touch-icon-120x120-precomposed.png')
link(rel='apple-touch-icon-precomposed', sizes='76x76', href='/app/images/devices/apple-touch-icon-76x76-precomposed.png')
link(rel='apple-touch-icon-precomposed', href='/app/images/devices/apple-touch-icon-precomposed.png')
link(rel='author', href='/app/pages/humans.txt')
link(rel='shortcut icon', href='favicon.ico')
link(rel='canonical', href='http://drmsweb.com/')
link(rel='stylesheet', type='text/css', href='/app/styles/main.css')
